* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.font-rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    height: 10vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

header .name {
    position: absolute;
    color: white;
    font-size: 28px;
    left: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header .nav ul {
    display: flex;
    flex-direction: row;
    
    list-style-type: none;
    padding: 0;
    gap: 40px;
}

header .nav ul a {
    text-decoration: none;
    color: white;
}

header .nav ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
}

header .nav ul li:hover::after {
    width: 100%;
}

header .nav ul li {
    position: relative;
    cursor: pointer;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header .social-medias {
    position: absolute;
    display: flex;
    background-color: transparent;
    right: 50px;
    gap: 8px;
}

header span ion-icon {
    font-size: 30px;
}

header span a {
    color: white;
    text-decoration: none;
}

main {
    position: relative;
    width: 100%;
}

section {
    position: relative;
    background-color: transparent;
    height: 100vh;
    width: 100%;
}

#presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(45deg, #ffcc33, #fe8330);
}

#presentation h1 {
    position: relative;
    border-right: 10px solid white;
    font-size: 120px;
    color: white;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
}

#presentation .presentation-text {
    overflow: hidden;
    width: 100%;
}

.typing-animation {
    animation: 
        typing 1s steps(20) normal forwards,
        blinkCursor 500ms steps(40) infinite normal;
    width: 100%;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinkCursor {
    0%, 100% {
        border-right-color: rgba(255, 255, 255, 0.8);
    }
    50% {
        border-right-color: transparent;
    }
}


#presentation p {
    font-size: 24px;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#presentation #arrow-icon {
    position: absolute;
    bottom: 30px;
    font-size: 50px;
    color: white;
    transition: all 0.3s;
}

#presentation #arrow-icon:hover {
    transform: translateY(-35%);
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #ffcc33, #fe8330);
}

footer::after {
    content: "";
    position: absolute;
    height: 5%;
    width: 100%;
    top: 0;
    background-color: #ca6726;
}

footer span {
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-bottom: 35px;
}

footer span ion-icon {
    font-size: 34px;
}

footer span .footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

footer span:last-child {
    margin-right: 0;
}

footer span a {
    text-decoration: none;
    color: #fe8330;
}

footer #footer-informations {
    position: relative;
    width: 18%;
    background-color: transparent;
}

footer #footer-informations ul {
    position: relative;
    padding-left: 5px;
    display: flex;
    list-style: none;
    color: aliceblue;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    list-style-position: inside;
    flex-direction: row; 
    flex-wrap: wrap;
}

footer #footer-informations ul li {
    padding: 0 10px 0 0;
    font-weight: 480;
}

footer #footer-informations ul a {
    color: aliceblue;
}

footer #footer-informations ul li:nth-child(3),
footer #footer-informations ul li:first-child {
    list-style: none;
}

#copy-right {
    color: black;
    font-weight: 450;
    font-size: 14px;
    margin-top: 10px;
}